@import "../../vars.css";

.container {
  color: #fff;
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.backgroundImage {
  background-color: #fff;
  margin-top: 1.9px;
  z-index: 0;
  display: inline-block;
  position: absolute;
}

.skillImageContainer {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  position: relative;
}
.skillImageContainer img {
  width: 75px;
  z-index: 1;
}

.skillImageContainer:hover {
  background-color: #3e598b;
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  align-items: center;
  gap: 17px;
  background: #19376d;
  border-radius: 10px;
  padding: 24px;
}

.historyItem img {
  background-color: #fff;
  padding: 10px;
  border-radius: 10%;
  width: 100px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

@media screen and (max-width: 830px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }
  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
  .history {
    width: 100%;
    gap: 9px;
  }
}
